<div class="row">
  <div class="w3-top">
    <div class="w3-bar w3-black w3-card">
      <a href="#" class="w3-bar-item w3-button w3-padding-large w3-text-white" style = "font-size: 24px;">Admin Dashbord</a>
      <% if user_signed_in? %>
      <% @user = current_user%>
      <%= link_to "Log Out", destroy_user_session_path , method: :delete, class: "nav-item m-3 text-white text-decoration-none btn btn-danger"%>
      <% else %>
      <%= link_to "Sign Up", new_user_registration_path, class: " w3-padding-large w3-hover-red w3-hide-small w3-right w3-button w3-blue", style: "margin-top:12px; margin-right:15px;"%> 
      <%= link_to "Log In ", new_user_session_path, class: " w3-padding-large w3-hover-red w3-hide-small w3-right w3-button w3-blue", style: "margin-top:12px; margin-right:15px;"%>    
      <% end %>
    </div>
   <div class="container-fluid">
      <h2>List of Doctors</h2>
      <%= link_to "Create Doctor", new_admin_path%>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>email</th>
            <th>Name</th>
          </tr>
        </thead>
        <% @doctors.each do |doctor|%>
          <tbody>
          <td><%= doctor.email%></td>
          <td><%= doctor.name%></td>
          </tbody>
        <%end%>
      </table>
      <h2>List of Patients</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Image</th>
          </tr>
        </thead>
        
        <tbody>
        <td></td>
        </tbody>

      </table>
    </div>
</div>
</div>